/*
#author lut
#setTime 2016-03-24
#purpose 简化类似开发，减少开发时间
*/
@charset "utf-8";
*{margin: 0;padding: 0;word-break: break-all;}
html,body{height: 100%;overflow-x: hidden;}
body{font-family: "Adobe 黑体 Std";background-color: #fff;color: #525e68}
img{width:100%;border:none;margin: 0;padding: 0}
a{text-decoration: none;}
li{list-style: none;}
p{line-height: 1.2em;}
.input_area{-webkit-appearance: none !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-style: none;font-size: 0.8em;padding: 0.4em 0 0.4em 0.5em;margin-top: 0.8em;border-radius: 0em;border: 1px solid #aaa;width: 100%;outline: none;vertical-align: middle;}
.select_area{-webkit-appearance: none !important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-style: none;font-size: 0.8em;padding: 0.4em 0 0.4em 0.5em;margin-top: 0.8em;border-radius: 0em;border: 1px solid #aaa;width: 100%;outline: none;vertical-align: middle;}
#container{
	max-width: 720px;
	height: 100%;
	margin: auto;
    position: relative;
}
.page{
    position: relative;
    width: 100%;
    min-height: 100%;
}
.header{
    padding-top: 1em;
}
.tit{
    position: relative;
    padding: 1em;
    text-align: center;
    font-weight: normal;
}
.tit>img{
    width: 80%;
}
.footer{
    text-align: center;
}
.btn_type1{
    display: inline-block;
    font-size: 1em;
    background-color: #4278b9;
    padding: 0.4em 2em;
    border-radius: 2em;
    box-shadow: 0.1em 0.2em 0.2em #a6cee7;
    outline: none;
}
/*图片加载*/
#loading_box{background-color: #000;color: #fff;}
.loadimg{position:absolute;width:1px;height:1px;font-size:0;opacity:0}
.loadimg img{position:absolute;width:1px;height:1px}
.loading_div{padding-top: 50%;text-align: center;}
.loading_div>span{display: inline-block;vertical-align: middle;}
/*page1*/
.page1{
    background-image: url(../images/bg2.png),url(../images/bg2.png),url(../images/bg1.png),url(../images/bg1.png),url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position:90% 30%,10% 80%,-28% -10%,166% 122%,center;
    background-size: 40%,40%,40%,60%,100% 100%;
}
.page1 .tit{
    display: none;
}
.page1 .tit>a{
    opacity: 0;
}
.tit>a{
    font-size: 0.7em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 0em;
    width: 4.2em;
    height: 4.2em;
    line-height: 4.2em;
    padding: 0.5em;
    background-image: url(../images/icon5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    outline: none;
}
.header>p{
    font-size: 0.85em;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 0.5em;
    line-height: 1.2em;
    background-color: #ecf5fd;
    opacity: 0;
}
.page1 .header{
    text-align: center;
}
.top_pic{
    width: 80%;
    margin-top: 1em;
    opacity: 0;
}
.prod_box{
    margin-top: 3.5em;
    margin-bottom: 3em;
    text-align: center;
    -webkit-perspective: 100em;
}
.prod_div{
    display: inline-block;
    position: relative;
    opacity: 0;
}
.prod_div1{
    width: 29%;
    -webkit-transform: translate3d(1.3em,1.5em,0em);
    z-index: 30;
}
.prod_div1 .pr_det{
    width: 110%;
    top: 7em;
    left: -1em;
}
.prod_div1 a{
    padding-left: 1.5em;
    background-image: url(../images/icon4.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.3em;
}
.prod_div1 .pr_det>p{
    margin-left: 1.4em;
}
.prod_div2{
    width: 15%;
    -webkit-transform: translate3d(0.5em,-2.5em,0em);
    z-index: 10;
}
.prod_div2 .pr_det{
    width: 232%;
    top: 0em;
    right: 95%;
}
.prod_div2 a{
    padding-right: 1.5em;
    background-image: url(../images/icon4.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.3em;
}
.prod_div2 .pr_det>p{
    text-align: right;
    margin-right: 1.6em;
}
.prod_div3{
    width: 19%;
    -webkit-transform: translate3d(0em,0em,0em);
    z-index: 40;
}
.prod_div3 .pr_det{
    width: 205%;
    top: 15em;
    left: -2.5em;
}
.prod_div3 a{
    padding-left: 1.5em;
    background-image: url(../images/icon4.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.3em;
}
.prod_div3 .pr_det>p{
    margin-left: 1.7em;
    width: 100%;
    text-align: left;
}
.prod_div4{
    width: 28%;
    -webkit-transform: translate3d(-0.5em,-3em,0em);
    z-index: 20;
}
.prod_div4 .pr_det{
    width: 100%;
    top: 9.5em;
    left: 1.5em;
}
.prod_div4 a{
    padding-right: 1.5em;
    background-image: url(../images/icon4.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.3em;
}
.prod_div4 .pr_det>p{
    margin-right: 1.6em;
}
.pr_det{
    position: absolute;
    font-size: 0.8em;
}
.pr_det>a{
    display: inline-block;
    word-break: keep-all;
}
.pr_det>a>img{
    width: 1.3em;
    vertical-align: middle;
}
.pr_det>a>span{
    display: inline-block;
    vertical-align: middle;
}
.page1 .btn_type1{
    opacity: 0;
}
.page1 a.js_now{
    background-image: url(../images/icon3.png);
}
/*page2*/
.page2{
    background-image: url(../images/bg1.png),url(../images/bg1.png),url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position:-28% -10%,138% 110%,center;
    background-size: 40%,55%,100% 100%;
    text-align: center;
}
.page2 .tit{
    height: 2em;
}
.page2 .tit>a>img{
    width: 1.4em;
    margin-top: 1.35em;
}
/*page3*/
.page3{
    background-image: url(../images/bg1.png),url(../images/bg1.png),url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position:-28% -10%,138% 110%,center;
    background-size: 40%,55%,100% 100%;
}
.page3 .header{
    padding-top: 0.5em;
}
.form_div{
    width: 64%;
    margin: auto;
    margin-top: 0.2em;
}
.code_box{
    position: relative;
    margin-top: 0.6em;
}
.code_box>input[type="text"]{
    margin-top: 0;
}
#checkbut{
    position: absolute;
    right: 0.5em;
    top: 0.45em;
    width: auto;
    padding: 0.5em 1em;
    margin: 0;
    color: #fff;
    background-color: #4278b9;
    box-shadow: 0.1em 0.2em 0.2em #a6cee7;
    outline: none;
    border-radius: 1em;
    border: none;
}
.info_sty{
    padding: 1em 0 1em 0.8em;
    border-radius: 1em;
}
.page3 .header{
    padding-top: 0;
}
.page3 .btn_type1{
    padding-left: 1em;
    padding-right: 1em;
    width: 27%;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.page3 .content>p{
    text-align: center;
}
.page3 .tit{
    font-size: 1.8em;
    padding: 0.5em;
    padding-bottom: 0.2em;
    color: #4278b9;
    text-shadow: 0.1em 0.2em 0.2em #a6cee7;
}
/*page4*/
.page4{
    background-image: url(../images/bg2.png),url(../images/bg2.png),url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position:90% 30%,10% 80%,center;
    background-size: 40%,40%,100% 100%;
}
.page4 .header>p{
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0;
    text-align: center;
    background: none;
    opacity: 1;
}
.page4 .tit{
    font-size: 1.8em;
    padding: 0;
    color: #4278b9;
    text-shadow: 0.1em 0.2em 0.2em #a6cee7;
}
.page4 .prod_box{
    margin-top: 5em;
}
.page4 .prod_div a{
    background-image: none;
}
.page4 .prod_div{
    opacity: 1;
}
.footer>p{
    font-size: 0.9em;
}
.page4 .prod_div2 a{
    padding-right: 0
}
.page4 .prod_div3 a{
    padding-left: 0;
}
/*蒙版*/
.bg_div{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
}
/*提示框*/
#atten_box{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
	position: fixed;
	left: 0;
    top: 0;
	height: 100%;
    max-width: 720px;
	width: 100%;
	text-align: center;
	z-index: 1000;
    /*display: none;*/
    background-image: url(../images/bg1.png),url(../images/bg1.png),url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position:-28% -10%,166% 122%,center;
    background-size: 40%,60%,100% 100%;
}
#atten_box>.top_div{
    height: 50%;
    margin-bottom: -1.5em;
}
.p2{display: none;}
.p3{
	display: none;
    margin-top: -4em;
    line-height: 2em;
}
/*背景遮罩*/
#bg_div{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    max-width: 720px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    display: none;
}
.n_b{border: none}
/*按钮字体*/
.btn1,.btn1:visited,.btn1:hover,.btn1:active{color: #fff;}
.btn2,.btn2:visited,.btn2:hover,.btn2:active{color: #000;}
.btn3,.btn3:visited,.btn3:hover,.btn3:active{color: #525e68;}
.btn4,.btn4:visited,.btn4:hover,.btn4:active{color: #4278b9;}
.color1{color: #fff;}
.color2{color: #323232;}
.color3{color: #005CE7;}
.b_color1{background-color: #f5f5f5}
/*浮动类型*/
.f_l{float: left;}
.f_r{float: right;}
.clear:after{display: block;content: "";visibility: hidden;clear: both;}
.hide{display: none;}



/*css3动画*/
.animate1{
    -webkit-animation: cssMove1 1.5s linear infinite;
    -moz-animation: cssMove1 1.5s linear infinite;
    -o-animation: cssMove1 1.5s linear infinite;
}
.animate2{
    -webkit-animation: cssMove2 1.5s linear infinite;
    -moz-animation: cssMove2 1.5s linear infinite;
    -o-animation: cssMove2 1.5s linear infinite;
}

.type2{
	display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    box-shadow: 0 -30px 0px #02CFFF,-21px -21px 1px #3ACDEF,-30px 0px 1px #62CAE2,-21px 21px 1px #71D6ED,0px 30px 2px #8CDCEF,21px 21px 2px #A5E1EF,30px 0px 3px #BCE4ED,21px -21px 4px #C0E7F0;
    animation: loading 2s steps(8, start) infinite;
    -webkit-animation: loading 2s steps(8, start) infinite;
    -ms-animation: loading 2s steps(8, start) infinite;
    -moz-animation: loading 2s steps(8, start) infinite;
    -o-animation: loading 2s steps(8, start) infinite;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-ms-keyframes loading{
    0%{
        -ms-transform: rotate(0deg);
    }
    100%{
        -ms-transform: rotate(360deg);
    }
}
@-webkit-keyframes loading{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes loading{
    0%{
        -moz-transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes loading{
    0%{
        -o-transform: rotate(0deg);
    }
    100%{
        -o-transform: rotate(360deg);
    }
}
.type3{
	display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    box-shadow: 0 -30px 0px 3px #4278b9,-21px -21px 1px 2px #4278b9,-30px 0px 1px 1.5px #4278b9,-21px 21px 1px 1.2px #4278b9,0px 30px 2px 1px #4278b9,21px 21px 2px 1px #4278b9,30px 0px 3px #4278b9,21px -21px 4px #4278b9;
    animation: loading 1s steps(8, start) infinite;
    -ms-animation: loading 1s steps(8, start) infinite;
    -webkit-animation: loading 1s steps(8, start) infinite;
    -moz-animation: loading 1s steps(8, start) infinite;
    -o-animation: loading 1s steps(8, start) infinite;
}
@-webkit-keyframes cssMove1{
    0%{-webkit-transform: translateX(0em);}
    25%{-webkit-transform: translateX(-0.6em);}
    50%{-webkit-transform: translateX(0em);}
    75%{-webkit-transform: translateX(0.6em);}
    100%{-webkit-transform: translateX(0em);}
}
@-moz-keyframes cssMove1{
    0%{-moz-transform: translateX(0em);}
    25%{-moz-transform: translateX(-0.6em);}
    50%{-moz-transform: translateX(0em);}
    75%{-moz-transform: translateX(0.6em);}
    100%{-moz-transform: translateX(0em);}
}
@-o-keyframes cssMove1{
    0%{-o-transform: translateX(0em);}
    25%{-o-transform: translateX(-0.6em);}
    50%{-o-transform: translateX(0em);}
    75%{-o-transform: translateX(0.6em);}
    100%{-o-transform: translateX(0em);}
}

@-webkit-keyframes cssMove2{
    0%{
        width: 1.2em;
    }
    50%{
        width: 1.5em;
    }
    100%{
        width: 1.2em;
    }
}