@charset "utf-8";
html,body,a,button,div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input,img,li,label,ol,p,span,table,thead,tbody,tfoot,th,td,tr,ul{padding: 0px;margin: 0px;}
ol,ul,li{list-style: none;}
a{text-decoration: none;}
html,body{font-family: "Arial";width: 100%;height: 100%;color: #000;}
/*--------背景样式--------*/
.full_bg{background-repeat:no-repeat;background-size:100% 100%}
.top_bg{background-repeat:no-repeat;background-size:100%;background-position:top}
.bottom_bg{background-repeat:no-repeat;background-size:100%;background-position:bottom}
.center_bg{background-repeat:no-repeat;background-size:100%;background-position:center}
.auto_bg{background-repeat:no-repeat;background-size:auto 100%;background-position:center}
.full_tb{width: 100%;height: 100%;border:none}
.inputstyle{-webkit-appearance: none;border-style: none;font-size: 1em;padding: 0.6em 0em;color: #fff;margin-top: 0em;border: 1px solid #555;outline:none;border-radius: 0}
/*index*/
img{width: 100%;}
.container{width: 100%;height: 100%;position: absolute;z-index: 10;}
.float_pic{width: 100%;position: absolute;top: 0;left: 0;z-index: 1;}
.index_top{width: 100%;font-size: 1em;margin-top: 0.6em}
.index_top>a{display: inline-block;margin-top: 0.1em;width: 24%;}
.product{position:relative;width: 100%;margin-top: 37%;padding-top: 8%;font-size:1em;text-align: center;}
.time_box{position: absolute;display: none;top: 0;left: 0;right: 0;width: 35%;margin: auto;font-size: 1em;padding: 0.2em 1em;font-weight: bold;border-radius: 0.3em;background-color: #000;color: #fff;z-index: 100}
.time_spn{color: #ff7dba}
.hide_box{width: 100%;font-size: 0.8em;font-weight: bold;display: none;}
.bind_btn{color: #ff7dba;text-decoration: underline;}
.txt_pan1{font-size: 1.1em;font-weight: bold;}
.txt_pan2{font-size: 1.1em;text-decoration: line-through;font-weight: normal;color: #555}
.txt_pan3{font-size: 0.9em;display: inline-block;margin-top: 0.5em;}
.txt_pan3>span{font-size: 1.6em;padding: 2px 3px;border: 1px solid #555;border-left: none;color: #ff7dba;}
.price_spn{font-size: 3em;color: #ff7dba}
.btn_box{width: 100%;text-align: center;margin-top: 1em;display: none;}
.js_btn{width: 41%;display: inline-block;}
.hide_txt>span{color: #ff7dba}
/*滑动*/
.swiper-container{width: 74%;height: 14em;margin-left:13%;overflow:hidden;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:1;}
.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform, left, top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform, left, top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform, left, top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform, left, top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform, left, top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.swiper-free-mode > .swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide{float:left;position: relative;}
.pic_txt_div1{float: left;width: 48%;margin-right: 2%;margin-top: 14%;text-align: right;}
.pro_pic1{float: left;width: 43%;margin-top: 6%;}
.pic_txt_div2{float: left;width: 52%;margin-right: 1%;margin-top: 12%;text-align: right;}
.pro_pic2{float: left;width: 42%;margin-top: 3%}
.pic_txt_div3{float: left;width: 54%;margin-right: -3%;margin-top: 15%;text-align: right;}
.pro_pic3{float: left;width: 35%;margin-top: 4%;}
.swiper-wp8-horizontal{-ms-touch-action:pan-y;}
.swiper-wp8-vertical{-ms-touch-action:pan-x;}
.control{width: 100%;position: relative;}
#prev{ position:absolute;display: block;left:2%;bottom:7em;width: 7.6%;z-index:100;display:none;}
#next{ position:absolute;display: block;right:2%;bottom:7em;width: 7.6%;z-index:100;}
/*规则*/
.rule_box{display: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1000;}
.rule_div{width: 85%;position: relative;margin-left: 7.5%;margin-top: 10%;}
.return_home{position: absolute;bottom: 1.5em;left: 26%;width: 48%;}
.close_spn{position: absolute;top: 4%;right: 5%;display: inline-block;width: 5%;text-align: center;padding: 0.5em;}
/*表单页*/
.top_div{width: 100%;height: 14%;}
.form_div{width: 100%;margin: 0 auto;}
.form_div>form{width: 100%;text-align: center;}
.form_txt{text-align: left;font-weight: bold;font-size: 1.1em;width: 70%;margin-left: 14%;margin-bottom: 0.8em;}
.yzm{width: 70%;text-align: right;margin: 1em auto;}
.getYzm{border-bottom: 1px solid #555;font-weight: bold;}
.user_info{width: 68%;padding-left: 5%;background-color: transparent;color: #666;border-radius: 0.5em}
.btn{display: inline-block;font-size: 1.1em;border: none;padding: 0.6em 0em;}
#submit_form{width: 41%;margin-top: 5em;}
.form_btn{background: url(../images/btn1.png) no-repeat;background-size: center;background-size: 100%}
/*success*/
.success_top{width: 100%;height: 17%;}
.success_content{width: 100%;text-align: center;line-height: 1.6em}
.success_btn{width: 41%;margin-top: 2em;}
/*lose*/
.lose_top{width: 100%;height: 23%;}
.lose_content{width: 100%;text-align: center;line-height: 1.8em;}
.lose_btn{width: 41%;margin-top: 6em;}
/*my_list*/
.list_top{width: 100%;height: 5%;}
.list_content{width: 100%;text-align: center;}
.list_container{text-align: center;}
.list_ul{width: 84%;margin-left: 8%}
.list_ul>li{width: 100%;position: relative;}
.detail_div{position: absolute;top: 1em;right: 0.2em;width: 60%;font-size: 0.8em;line-height: 1em;text-align: left;}
.name_spn{display: inline-block;margin-top: 0.8em;}
.exchange_spn{display: inline-block;margin: 0.3em 0em;padding: 0.5em 1em;background-color: #ffdf00;font-weight: bold;border-radius: 0.5em;}
.list_txt{font-size: 0.8em;}
.list_pic1,.list_pic2{position: absolute;top: 4%;left: 17%;width: 57.7%;display: none;}
.list_btn{width: 41%;margin-top: 4em;}
.font09{font-size: 0.8em;}
.font11{font-size: 1.1em;}
.font12{font-size: 1.2em;}
.font13{font-size: 1.3em;}
.font14{font-size: 1.4em;}
.font15{font-size: 1.5em;}
.font16{font-size: 1.6em;}
.line_h15{line-height: 1em;}
.color1{color: #000}
.color2{color: #ff7dba}
.hide{display: none;}